[Unit]
Description=gRPC Auth
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/grpc-auth
ExecStart=/root/apps/grpc-auth/grpc-auth
Restart=always
RestartSec=4
StandardOutput=inherit

[Install]
WantedBy=multi-user.target